*{
    margin: 0;
    padding: 0;
    font-family: 'Lora', serif;
}
body{
    background: rgb(218, 238, 249);
}
.home{
    width: 100%;
    height: 100vh;
}
.header nav{
    width: 100%;
    text-align: center;
    margin: 15px 0;
    z-index: 100;
}
nav .logo{
    height: 9vh;
    width: auto;
}
nav ul{
    width: 100%;
    height: 9vh;
    background-color: rgb(9, 135, 252);
    
}
nav ul li{
    display: inline-block;
    padding: 10px 30px;
    margin: 9px 5px;
    border-radius: 6px;
    transition: 0.2s;
    display: inline-block;
}
nav ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 22px;
    font-weight: 520;
}


nav ul  :hover{
    background-color: rgb(41, 85, 229);
}
nav ul .btn{
    font-weight: bold;
    background-color: rgb(41, 85, 229);
}

nav.sticky{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 10vh;
    padding: 0;
    margin: 0;
    transition: 0.5s;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #ffff;
    overflow: hidden;
}

nav.sticky ul{
    width: 80%;
    margin-right: 15px;
    border-radius: 5px;
    height: 9vh ;
}

.welcome{
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-top: 18px;
    
}
.welcome span{
    position: relative;
    font-size: 2.5vw;
    color: rgb(235, 4, 4);
    overflow: hidden;
    font-weight: 600;
    letter-spacing: 3px;
    word-spacing: 5px;
}
.welcome span:before{
    content: '';
    position: absolute;
    left: 0%;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg,transparent 0%, rgb(218, 238, 249) 5%,rgb(218, 238, 249) 100%);
    animation: animate 3s linear forwards;
}

.welcome video {
    margin-top: 10px;
    padding: 5px;
    background-color: rgb(232, 239, 245);
    
}
@keyframes animate{
    100%{
        left: 100%;
    }
}

.AboutUs{
    width: 100%;
    height: 88vh;
    text-align: center;
    padding-bottom: 15px;
}

.AboutUs span{
    font-size: 3vw ;
    font-weight: 550;
    color: rgb(235, 4, 4);
    margin-top: 0px;
    border-bottom: 3px solid rgb(235, 4, 4);
}

.about{
   width: 90%;
   margin-top: 35px;
   display: flex;
   letter-spacing: 2px;
   word-spacing: 3px;
   justify-content: space-around;
   margin-left: 30px;
}
.about figure img{
    width: 80%;
    height: 35vh;
    
    margin-top: 75px;
    padding-left: 80px;
    
}
#p{
    width: 100%;
    margin-left: 200px;
}
.about p{
    text-align: justify;
    width: 34%;
    font-size: 1.5vw;
    
    margin-top: 25px;
}
#lp{
    font-size:1.5vw;
    font-weight: bold;
    margin-top: 50px;
    width: 100%;
    text-align: center;
    letter-spacing: 2px;
    word-spacing: 4px;
    
}
pre{
    font-size: 1.4vw;
    font-weight: bold;
}
